@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    font-size: 62.5%;
  
    --clr-grey-800: #191820;
    --clr-grey-500: hsl(248, 10%, 15%);
    --clr-grey-300: hsl(251, 9%, 53%);
    --clr-white: #e7e6eb;
    --clr-green: #a3ffae;
    --clr-red: #f74b4b;
    --clr-orange: #fb7a56;
    --clr-yellow: #f8cb63;
  
    --fs-L: 3.2rem;
    --fs-M: 2.4rem;
    --fs-S: 1.8rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: "JetBrains Mono", monospace; 
    background-color: var(--clr-grey-800);
    color: var(--clr-white);
}

.container {
    width: 300px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container h3 {
    font-size: var(--fs-S);
    color: var(--clr-grey-300);
    text-align: center;
}

.random-password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-grey-500);
    width: 100%;
    max-width: 100%;
    height: 30px;
    padding: 0px 10px;
}

.random-char {
    font-weight: 700;
}

.icon-copy {
    max-width: 7%;
    cursor: pointer;
}

.icon-copy:hover {
    filter: contrast(0.1);
}

.password-setting {
    width: 100%;
    max-width: 100%;
    background-color: var(--clr-grey-500);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.char-length {
    font-size: var(--fs-S);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 16px;
}

.amount-char {
    color: var(--clr-green);
    font-size: var(--fs-S);
}

.char-length-slider {
    --webkit-appearance: none;
    appearance: none;

    margin-bottom: 16px;

}

.char-length-slider::-webkit-slider-thumb {
    --webkit-appearance: none;
    appearance: none;

    background-color: var(--clr-white);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -8px;
}


.char-length-slider::-webkit-slider-thumb:hover {
    background: var(--clr-grey-800);
    border: 2px solid var(--clr-green);
}

.char-length-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background-color: var(--clr-green);
}

.char-option {
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: 10px;
    margin-top: 5px;
    margin-bottom: 8px;
}

.char-option input {
    --webkit-appearance: none;
    appearance: none;
    background-color: var(--clr-grey-800);
    border: 1px solid var(--clr-white);
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.char-option input:checked {
    --webkit-appearance: none;
    appearance: none;
    background-color: var(--clr-green);
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: all 0.2 ease-in;
}

.char-option input {
    /* display: none; */
    content: url(assets/images/icon-check.svg);
    background-size: 10px;
    text-align: center;
}

.strength-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    text-transform: uppercase;
    font-size: 9px;
    color: var(--clr-grey-300);
    background-color: var(--clr-grey-800);
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.level-strength {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.level-bar {
    display: flex;
    gap: 10px;
}

.bar {
    width: 1rem;
    height: 25px;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid var(--clr-white);
    background-color: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
    color: var(--clr-green);
    background-color: var(--clr-grey-500);
    border: 2px solid var(--clr-green);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--clr-green);
    color: var(--clr-grey-500);
}

.btn img {
    background-color: var(--clr-green);
    color: #a3ffae;
}

.btn path {
    fill: #a3ffae;
}

.btn:hover path {
    fill: var(--clr-grey-500);
}

@media (min-width:568px) {
    .container {
        width: 500px;
        max-width: 100%;
    }
    
    .container h3 {
        font-size: var(--fs-M);
    }

    .random-password {
        padding: 25px;
    }

    .random-char {
        font-size: var(--fs-M);
    }

    .char-length {
        font-size: var(--fs-S);
    }

    .amount-char {
        font-size: var(--fs-M);
    }

    .char-length-slider {
        margin-bottom: 26px;
    }

    .char-length-slider::-webkit-slider-thumb {
        width: 25px;
        height: 25px;
        margin-top: -10px;
    }

    .char-option {
        font-size: var(--fs-S);
        line-height: 20px;
        margin-top: 10px;
    }

    .char-option input {
        width: 20px;
        height: 20px;
    }

    .char-option input:checked {
        width: 20px;
        height: 20px;
    }

    .strength-box {
        padding: 20px;
    }

    .strength-box span {
        font-size: var(--fs-S);
    }

    .btn {
        padding: 15px;
    }
}